<html>
	<head>
	<meta charset="utf-8" />
	</head>
	<body style="font-family: '宋体'; color: #666666; font-weight: bold;">
		<div>
			<div style=" border: 1px solid cornflowerblue; width: 50%;">	
				<div style="background-color: cornflowerblue; padding: 10px; font-size: 18px">
					<font style="color: #FFFFFF;font-weight: bold;">${username} </font>用户:
				</div>
				<div style="padding: 10px; background-color: #F9F9F9">
						<p>你好！</p>
						<p>欢迎注册 <a href="#" style="font-size: 20px; font-weight: bold;">xKing</a>!</p>
						<hr />
						<p>为了你的账户安全，请点击下面的链接进行账号激活</p><br />
						<p><a href="http://192.168.14.188:8888/xKing/user/state?username=${username}&&key=${key}" target="_blank">http://192.168.14.188:8888/xKing/user/state?username=${username}&&key=${key}</a><font style="color:#EEA236;"> （请在收到邮件内后的30分中内激活，否则该链接将失效）</font></p><br />
						<p>为了你的账号安全：</p>
						<u>
							<li>别将该链接透露给第三者</li><br />
							<li>保证该邮箱账户的安全</li><br />
							<li>时常更新你的账户密码</li><br />
						</u>
						<hr /><br />
						<p style="text-align: right; color: #000000;">
							xKing 官方邮件
						</p>
						<p style="text-align: right; color: #000000;">
							${date}
						</p>
				</div>
			</div>
		</div>
	</body>
</html>