<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>createBranchMessage</title>
		<link rel="stylesheet" type="text/css" href="css/application.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="css/github-markdown.css"/>
		<script type="text/javascript" src="js/jquery-3.1.1.min.js" ></script>
		<script type="text/javascript" src="js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="js/profile.js" ></script>
		<script type="text/javascript" src="js/markdown.min.js" ></script>
		<script type="text/javascript" src="js/utils.js" ></script>
		<style>
		    .markdown-body {
		        box-sizing: border-box;
		        min-width: 200px;
		        max-width: 980px;
		        margin: 0 auto;
		        padding: 45px;
		    }
		</style>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top heard" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<!--
             			xKing
                 -->
					<a class="navbar-brand" href="#" style="font-size: 25px;">xKing</a>
				</div>
				<!--
              		左导航栏
                -->
                <div id="navbar" class="navbar-collapse collapse" >
                	<ul class="nav navbar-nav">
                		<li class="active">
                			<a href="#">Home</a>
                		</li>
                	</ul>
                  	<form class="navbar-form navbar-left" role="search">
        		   		<div class="form-group">
                			<input type="text" class="form-control" placeholder="Search">
            			</div>
        			</form>
        			<ul class="nav navbar-nav navbar-right">
        				<li> 
							<img src="img/profile.jpg" class="img-circle heard-profile-picture">
        				</li>
        				<li class="dropdown">
        					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        						zhonghao <span class="caret"></span>		
        					</a>
							<ul class="dropdown-menu" role="menu">
				                <li><a href="profile.html">Profile</a></li>
				                <li><a href="#">Message</a></li>
				                <li><a href="#">Setting</a></li>
				                <li class="divider"></li>
				                <li class="dropdown-header">System</li>
				                <li><a href="#">Help</a></li>
				                <li><a href="#">Logout</a></li>
              				</ul>
        				</li>
        			</ul>
                </div>
			</div>
		</nav>
		<div class="row">
			<!-- left -->
			<div class="col-sm-2 left-sidebar" id="branchLeft">
				<div class="left-branch-message" align="center">
					<img src="img/branche.jpeg" class="branch-img visible-lg"/><br />
					<p class="h1 hide-p">LongMaoShe</p>
					<p class="hide-p">Intro：This is a branch have some people!！！！！</p>
					<p><i class="fa fa-user" aria-hidden="true"></i>&nbsp;100&nbsp;&nbsp;&nbsp;&nbsp;
						<i class="fa fa-level-up" aria-hidden="true"></i>&nbsp;13</p>
				</div>
				<ul class="nav nav-sidebar left-branch-ul">
					<li id="overview" >
						<a id="overview" href="BranchIndex.html">Index</a>
					</li>
					<li id="branches" >
						<a id="branches" href="BranchMessage.html">Message</a>
					</li>
					<li id="tasks" class="active">
						<a id="tasks" href="BranchMember.html">Members</a>
					</li>
					<li id="tasks">
						<a id="tasks" href="#">Tasks</a>
					</li>
				</ul>
			</div>
			<!-- center -->

			<!-- Right -->

		</div>
		<!-- Center -->
		<div class="row">
			<div class="col-sm-10 col-sm-offset-2">
				<div class="center-branche-panel">
					<label>Create Branch's Message</label>
					<hr />
					<label>Title</label>
					<div class="row center-myBranches-up" style="border-bottom: 0px !important;">
						<form action="#">
							<div class="col-sm-6">
								<input type="text"  class="form-control" placeholder="Message Title"/>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
								<div class="input-group-addon">Type:</div>
								<select class="form-control">
									<option>All</option>
									<option>School</option>
									<option>Association</option>
									<option>Company</option>
								</select>
								</div>
							</div>
						</form>
					</div>
					<label>Message</label>
					<div class="row">
						<div class="col-md-8">
								<div class="message-panel">
								<ul id="myTab" class="nav nav-tabs" style="padding-left: 20px;">
									
								   <li class="active">
								      <a href="#home" data-toggle="tab">
								         Write
								      </a>
								   </li>
								   <li><a href="#ios" data-toggle="tab">View</a></li>
								</ul>
								</div>
								<div id="myTabContent" class="tab-content tab-control">
								   <div class="tab-pane fade in active" id="home">
									  <br />
								      <textarea id="text-input" rows="13" class="form-control messge-textarea"  oninput="this.editor.update()">#I'm very happy today!</textarea>
								   </div>
								   <div  class="tab-pane fade" id="ios">
								     <div >
								     	<article class="markdown-body" id="preview">
										</article>
								     </div>
								   </div>  
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
	      function Editor(input, preview) {
	        this.update = function () {
	          preview.innerHTML = markdown.toHTML(input.value);
	        };
	        input.editor = this;
	        this.update();
	      }
	      var $ = function (id) { return document.getElementById(id); };
	      new Editor($("text-input"), $("preview"));
	    </script>
	</body>
</html>
