body {
	  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
	 	font-size: 16px;
  	line-height: 1.42857143;
  	color: #333;
  	background-color: #fff;
}
ul li {
	line-height: 24px;
}
blockquote {
	border-left:#eee solid 5px;
	padding-left:20px;
}
code {
	color:#D34B62;
	background: #F9F2F4;
}

h1 {
	border-bottom: 1px solid #EAEDF1;
	padding-bottom: 5px;
}
